
    .button {
    padding: 12px 64px;
    border-radius: 8px;
    border: 1px solid var(--primary);
    color: rgb(0, 0, 0);
    background-color: rgb(134, 211, 239);
    font-size: 22px;
    cursor: pointer;
    transition: all 0.3s ease-out;
    position: relative;
    display: sticky;
    left: 13.1em;
    bottom: 10em;
  }

.button:hover {
    color: #fff;
    background-color: #135156;
    transition: all 0.2s ease-out;
  }

 
  .dating{
    width: 850px;
    height: 620px;
    margin-top: 0;
    margin-right: 0;
    margin-left: 90px;
    padding-right: 0;
    border-radius: 15px;
    position: absolute;
    top: 55em;

  }

  .Top-line {
    color: #f00946;
    font-size: 16px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    margin-bottom: 16px;
    position: relative;
    display: sticky;
    top: -33.4em;
    left: 64em;
  }
  .Heading {
    margin-bottom: 24px;
    font-size: 33px;
    font-weight: 701;
    color: #f7f8fa;
    position: relative;
    display: sticky;
    top: -15em;
    left: 30em;
  }
  .subtitle{
    position: relative;
    display: sticky;
    font: 19px;
    justify-content: center;
    top: -24.3em;
    left: 57em;
    color: #ffffff;

  }