.H5{
    position: relative;
    display: flex;
    justify-content: center;
    font-size: 60px;
    top: 50px;
    color: rgb(61, 65, 87);

}
.p1{
    position: relative;
    display: flex;
    font-size: 30px;
    top: 200px;
    padding-left: 400px;
    padding-right: 400px;
    color: rgb(61, 65, 87);
}
.P{
    position: relative;
    font-size: 30px;
    top: 200px;
    padding:10px;
}
.Img{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 29%;
    border-radius: 7px;
    position: relative;
    bottom: -90px;

}
