.H5{
    position: relative;
    display: flex;
    justify-content: center;
    font-size: 90px;
    top: 390px;
    left: 330px;
    color: rgb(0, 0, 0);

}
.p1{
    position: relative;
    display: block;
    font-size: 35px;
    top: -350px;
    left: 940px;
    color: rgb(0, 0, 0);
    white-space: nowrap;
    width: auto;
    height: auto;

}
.p2{
    position: relative;
    display: block;
    font-size: 35px;
    top: -350px;
    left: 940px;
    color: rgb(0, 0, 0);
    white-space: nowrap;
    width: auto;
    height: auto;
}
.P{
    position: relative;
    font-size: 30px;
    top: 200px;
    padding:10px;
}
.Img{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    border-radius: 10px;
    position: relative;
    bottom: -90px;
    left: -30em;

}
