
.H3{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    font-size: 55px;
    color: rgb(61, 65, 87);
}

.P3{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    color: rgb(61, 65, 87);
}


input{
    font-size: 1rem;
    padding:0.5rem;
    margin:0.9rem 0;
    width:50%;
    border-radius: 4px;
}
button{
    padding:0.2rem;
    border-radius: 4px;
}

.text-left{
    position: relative;
    display: flex;
    justify-content: center;
}
.thank {
    color: rgb(61, 65, 87);
    font-size: 50px;
    position: relative;
    top:100px;
}
.soon {
    color: rgb(61, 65, 87);
    font-size: 50px;
    position: relative;
    top:100px;
}
.bars{
    position: relative;
    display: absolute;
    top: 30px;
    left: 25em;

   
}
.bar{
    position: relative;
    display: flex;
    justify-content: center;
    top:45px;
   
}
.send{
    position: relative;
    display: flex;
    justify-content: center;
    top:60px;

}
