
.H3{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    font-size: 55px;
    color: rgb(0, 0, 0);
}

.P3{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    color: rgb(0, 0, 0);
}


input{
    font-size: 1rem;
    padding:0.5rem;
    margin:0.9rem 0;
    width:50%;
    border-radius: 4px;
}
button{
    padding:0.2rem;
    border-radius: 4px;
    overflow:auto;
    position: relative;
    display: inline-block;
    cursor: pointer;
    box-shadow: 0px 10px 19px rgba(0, 0, 0, 0.4);

}  
.text-left{
    position: relative;
    display: flex;
    justify-content: center;
}
.text-center{
    position: relative;
    display: flex;
    justify-content: center;
    top:10em;

}
.thank {
    color: rgb(0, 0, 0);
    font-size: 50px;
    position: relative;
    top:3em;
    display: flex;
    justify-content: center;
}
.soon {
    color: rgb(0, 0, 0);
    font-size: 50px;
    position: relative;
    top:4em;
    display: flex;
    justify-content: center;
}
.bars{
    overflow-y:auto;
    position: relative;
    display: inline-block;
    top: 30px;
    left: 31em;
    width: 80em;
    overflow-x: hidden;

}
.bar{
    position: relative;
    display: flex;
    justify-content: center;
    top:45px;
   
}
.send{
    position: relative;
    display: flex;
    justify-content: center;
    top:60px;

}
form{
    overflow-y:auto;
}