.logo{
    position: relative;
    display: flex;
    top: -92px;
    right: 110px;
   width: 300px;
   height: auto;
}
.links{
    position: relative;
    display: flex;
    top: -90px;
    right: 120px;
    justify-content: right;

}
.links:hover{
    transform: scale(1.05);

    --_c: var(--c);
    --_p: 100%;
    transition: 0.1s, color 0s .1s, background-color 0s .5s;
    
}

.icon{
    position: relative;
    display: flex;
    top: -90px;
    right: 20px;
    transform: scale(1.7);
}
.icon .MuiIconButton-root:hover {
    color: #fff;
  
  }
