.center h4{
   position: relative;
   display: flex;
   justify-content: center;
   font-size: 55px;
   font-weight: 550;
   color: #001d38;
   font-family: 'times new roman';
   top:0.5em;
}

.features{
    position: relative;
    display: flex;
    justify-content: center;
    font-size: 24.5px;
    font-weight: 300;
    color: #001d38;
    font-family: 'times new roman';
    top:3.4em;
 }
 .single{
    width: 590px;
    border-radius: 1rem;
    margin-bottom: 30px;
    margin-top: 10px;
    overflow: hidden;
    margin-left: 10px;
    box-shadow: 2px 2px 3px 3px rgb(173, 171, 171);
    transition: background-color 1s ease-out 0.1ms;
    height: 400px;
    overflow-y: scroll;
    overflow-x: scroll;
    
}
.single:hover{
    background-color: #e0dddd;

}
.rows{
    padding-top: 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: relative;
    display: static;
    top: 4em;
    left: 3em;
    margin:0 100px 0;
}